@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply tracking-tight font-heading;
    }
}

@layer components {
    .glass-panel {
        @apply bg-white/80 dark:bg-slate-900/60 backdrop-blur-xl border border-white/20 dark:border-white/10 shadow-xl;
        box-shadow:
            0 4px 6px -1px rgb(0 0 0 / 0.1),
            0 2px 4px -2px rgb(0 0 0 / 0.1),
            inset 0 1px 0 0 rgba(255, 255, 255, 0.5);
        /* Inner top highlight */
    }

    /* Dark mode specific override */
    :global(.dark) .glass-panel {
        box-shadow:
            0 4px 6px -1px rgb(0 0 0 / 0.3),
            0 2px 4px -2px rgb(0 0 0 / 0.3),
            inset 0 1px 0 0 rgba(255, 255, 255, 0.1);
    }
}